<div class="sidebarMedia" @SideBarIcons>
    <div class="row">
      <div class="col-sm">
        <a href="https://twitter.com/wahbi_jed">
          <i
          [@SideBarIconsHover]=currentStateTw
          (mouseover)="changeStateTwiIn()"
          (mouseout)="changeStateTwiIn()"
          class="fa fa-twitter"
          aria-hidden="true">
        </i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <a href="https://linkedin.com/in/abdulwahab-alshehri">
          <i [@SideBarIconsHover]=currentStateLin
          (mouseover)="changeStateLinIn()"
          (mouseout)="changeStateALinOut()"
          class="fa fa-linkedin"
          aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <a href="https://github.com/abdul2025">
        <i
        [@SideBarIconsHover]=currentStateGit
        (mouseover)="changeStateGitIn()"
        (mouseout)="changeStateAGitOut()"
        class="fa fa-github-alt"
        aria-hidden="true">
        </i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <i class="vertical" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p>Follow Me</p>
      </div>
    </div>

</div>
