
<div class="col-lg-12 "  @header>
  <nav class="navbar navbar-expand-lg  custom-shadow ">
    <div class="container-fluid">
      <a class="navbar-brand brandName" href="#">W</a>
      <button type="button" *ngIf="isMobileMode" (click)='CloseHeader()' class="btn-close" aria-label="Close"></button>
      <button class="navbar-toggler shop navbar-dark" *ngIf="!isMobileMode" (click)='dropDownHeader()' type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse  " [ngClass]="isMobileMode ? 'show' : ''" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex">
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/']" (click)="scrolling('/')" routerLinkActive="router-link-active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['about']" (click)="scrolling('about')" routerLinkActive="router-link-active" aria-current="page" >About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" [routerLink]="['projects']" (click)="scrolling('projects')" routerLinkActive="router-link-active">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" [routerLink]="['hobbies']" (click)="scrolling('hobbies')" routerLinkActive="router-link-active">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" [routerLink]="['blog']" (click)="scrolling('blog')" routerLinkActive="router-link-active">Blogs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
