<div class="customBackGround" style="min-height: 100vh;" >
  <div class="jumbotron vertical-center">
    <div class="container">
      <!-- Featured Project Row-->
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
            <div class="featured-text  text-lg-left">
              <div class="circle"></div>
              <h4 class="topics cutom">About</h4>
                <p >
                  I am self-taught and enthusiastic Software Developer, I have ambition and mindset to develop and gain skills,share my knowledge and cooperate.</p>
            </div>
        </div>
      </div>
      <div class="row align-items-center custom">
        <div class="col-md-6">
          <div class="row align-items-center custom">
            <div class="col-sm-1">
              <div class="circle-icon"></div>
              <i class="fa fa-pencil-square-o custom-icon" aria-hidden="true"></i>
            </div>
            <div class="col-sm-11 ">

              <h5>Web design</h5>
              <h6 class="custom-content">
                Imagination, Creativity, Patience.
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row align-items-center custom">
            <div class="col-sm-1">
              <div class="circle-icon"></div>
              <i class="fa fa-desktop custom-icon" aria-hidden="true"></i>
            </div>
            <div class="col-sm-11 ">
              <h5>
              Development
              </h5>
              <div >
                <h6 class="custom-content">
                  Attention to detail, Communication skills, Problem-solving skills, AWS, Git, Agile
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center custom">
        <div class="col-md-6">
          <div class="row align-items-center custom">
            <div class="col-sm-1">
              <div class="circle-icon"></div>
              <i class="fa fa-code custom-icon" aria-hidden="true"></i>

            </div>
            <div class="col-sm-11 ">

              <h5>Front End</h5>
              <h6 class="custom-content">
                JavaScript, Angular, NgRx, RxJS, Bootstrap, Material UI
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row align-items-center custom">
            <div class="col-sm-1">
              <div class="circle-icon"></div>
              <i class="fa fa-code custom-icon" aria-hidden="true"></i>
            </div>
            <div class="col-sm-11 ">
              <h5>
              Back End
              </h5>
              <h6 class="custom-content">
                Django, Node JS
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center custom">
        <div class="col-md-6">
          <div class="row align-items-center custom">
            <div class="col-sm-1">
              <div class="circle-icon"></div>
              <i class="fa fa-code custom-icon" aria-hidden="true"></i>
            </div>
            <div class="col-sm-11 ">

              <h5>Microservices</h5>
              <h6 class="custom-content">
                Python, sqlalchemy (SQL toolkit), AWS Lambda
              </h6>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row align-items-center custom">
            <div class="col-sm-1">
              <div class="circle-icon"></div>
              <i class="fa fa-university custom-icon" aria-hidden="true"></i>
            </div>
            <div class="col-sm-11 ">

              <h5>Education</h5>
              <h6 class="custom-content">
                Bachelor degree: Information Technology, Canada Toronto <i class="fa fa-pagelines" aria-hidden="true"></i>
              </h6>
              <div style="padding: 2%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
