.customBackGround {
  background-color: #ffffff;
    /* The image used */
  // background-image: url("../../assets/imgs/brick-wall.jpg");

  // /* Full height */
  // height: 100%;

  // /* Center and scale the image nicely */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  margin-left: 10%;
}

.row {
  justify-content: center;
}



@media only screen and (max-width: 900px) {
  .custom {
    flex-direction: column-reverse;
  }

  .customTop {
    margin-bottom: 5%;
  }

  .customBTN {
    display: none;
  }
}


.topics {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  font-weight: 900;
  color: #5c5c3a;
  z-index: 99;

}

.topicsBehind {
  font-family: 'Permanent Marker', cursive;
  font-weight: 900;
  color: #5c5c3a;
  opacity: 0.3;
  position:absolute;
  z-index: 0;
  margin-top: -2%;
}


.cutom {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3rem;
  font-weight: 900;
  color: black;
  z-index: 99;
  position: relative;
  bottom: 60px;
  left: 25px;
}


.circle {
  height: 45px;
  width: 45px;
  background-color: #898678;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
  position: relative;
  bottom: 20px;


}






