<div class="customBackGround" @LandingPage style="min-height: 100vh" >
  <div class="jumbotron vertical-center">
    <div class="container px-4 px-lg-5">
      <!-- Featured Project Row-->
      <div class="row custom align-items-center">
        <div class="col-xl-4 col-lg-5">
            <div class="featured-text  text-lg-left">
              <div class="circle"></div>
              <h4 class="topics cutom">Hello. I'm </h4>
                <h1 class="topicsBehind">ABDULWAHAB ALSHEHRI</h1>
                <h4 class="topics">ABDULWAHAB </h4>
                  <p class="text-black-50 mb-0">I'm a Self-taught Software Developer & based in Jeddah, Saudi Arabia, I have serious passion for Programming, Software Enginnering, Cloud computing, and creating intuitive.</p>
              </div>
          </div>
          <div class="col-xl-1 col-lg-1 customBTN" [@Title]="value">
            <div class="circleInTopic"></div>
            <i
            aria-hidden="true" class="topics" style="color: black;">{{value}}</i>
          </div>
          <div class="col-xl-6 col-lg-6 customTop">
            <img class="img-fluid mb-3 mb-lg-0" style="padding-top: 20%;" src="https://bugrio-themeforest.firebaseapp.com/images/banner/banner1.png" alt="" />
          </div>
        </div>
      </div>
  </div>
</div>
<app-sidebar-media></app-sidebar-media>
